@font-face {
  font-family: 'Fredericka-the-great';
  src: url('fredericka-the-great.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FCA204;
  text-align: center;
}

h1 {
  width: 600px;
  margin: 20px auto; 
  text-align: center;
  font-family: 'Fredericka-the-great';
  font-size: 3rem; 
  border-bottom: 3px double #607D8B;
  padding: 5px;
}

h2 {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  background-color: #607D8B;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
}

p {
  background-color: #FCC204;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
}

p:nth-child(2) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

p:nth-child(4), p:nth-child(7), p:nth-child(10), p:nth-child(14) {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

p:nth-child(2), p:nth-child(3), p:nth-child(4), h2:nth-child(8), p:nth-child(9), p:nth-child(10) {
  width: 95%;
}

h2:nth-child(5), p:nth-child(6), p:nth-child(7), h2:nth-child(11), p:nth-child(11), p:nth-child(12), p:nth-child(13), p:nth-child(14) {
  width: 80%;
}  

p:nth-child(15){
  background-color: #FCA204;
  text-align: end;
  border-top: double 3px #607D8B;
  margin-top: 20px;
  padding: 10px;
}

.green {
  color: green;
  text-decoration: underline;
  font-weight: bold;
}

.violet {
  color: rgb(134, 11, 222);
  font-size: larger;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.brown {
  color: brown;
  text-transform: uppercase;
  font-weight: bold;
}

.background-white-blue {
  background-color: white;
  color: blue;
  font-style: italic;
}

.red-cursive {
  color: red;
  font-style: italic;
  font-weight: bold;
}
